/* Elecment Selector */
body{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: #8f8f8f;
}

hr{
  margin: 50px auto;
}

.inside-hr{
  width: 8%;
  background-color: #fff;
  border-color:  #8f8f8f;
  border-style: dotted none none none;
  border-width: 6px;
  margin: 30px auto;
}

/* Heading */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 5% 15%;
}

/* Sections */
.white-section{
  background-color: #fff;
}

.white-section h1,h2, h3, h4, h5, h6{
  color: #000;
}

.colored-section{
  background-color: #222831;
  color: #fff;
}

.right-col{
  text-align: right;
}
/* *********************************info.php **********************************/
/* Login Section */
#login {
  text-align: left;
}

#login .container-fluid{
  padding: 3% 15% 10%;
}

/* Nevigation Bar */
#login .navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* Download Button */
.download-btn{
  margin: 5% 3% 5% 0;
}

/* Login */
.login-heading {
  display: inline;
  margin-right: 10px;
}

/* Features Section */

.feature-title{
  font-size: 1.5rem;
  color: #000;
}

/* Feature Icon */
.icon{
  color: #393e46;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #00adb5;
}

/* Fotter Section */
.social-icon{
  margin: 20px 10px;
}

/* *********************************info.php **********************************/
/* Header Section */
#header .container-fluid{
  padding: 2% 15% 2%;
}

/* Information Section */
#information{
  text-align: left;
}

.info-input{
  width: 17%;
}

/* *********************************interest.php **********************************/
/* Interest Section */
.selected{
  box-shadow: 0 0 20px #00adb5;
}

/* *********************************home.php **********************************/
/* Content Section */
#content .container-fluid{
  padding: 15% 15%;
}

.logout{
  margin-top: 2px;
}

/* *********************************vendor.php **********************************/
/* Event Section */
#event{
  text-align: left;
}

.add{
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #222831;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.selected-activity {
  background-color: #eeeeee;
}

.activity-item, .cal-total, .balance-div, .admin-item{
  border-radius: 25px;
  padding: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  color: black;
  /*padding: 12px 16px;*/
  /*text-decoration: none;*/
  display: block;
}

.dropdown-content .dropdown-item:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #393e46;}
/* *********************************wallet.php **********************************/
/* Wallet Section */
#wallet{
  text-align: left;
}

/* *********************************activity.php **********************************/
/* Activity Section */
#activity{
  text-align: left;
}

.info-title{
  font-weight: bold;
}

.empty{
  text-align: center;
  padding: 100px;
}

/* *********************************reset password **********************************/
.cancel {
  background-color: #f5f6f7;
  color: #4b4f56;
}

.search {
  background-color: #1877f2;
  color: #fff;
}

.findAccount {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
}

.pd-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-div{
  padding: 130px;
}

.red{
  color:red;
}
/* *********************************User wallet **********************************/
.ticket-title{
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.ticket-title:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.drop:after {
  content: "\2212";
}

.redeem-ticket{
  text-align: right;
}


/* ******************************* getdirection.php **********************************/
html, body, #map-canvas {
  height: 100%;
}

.ui-content {
  height: inherit;
}

#mapPage {
  height: inherit;
}

/* ******************************* admin.php **********************************/
#admin{
  text-align: left;
}
